MATHEMATICS FOR DATA SCIENCE 

Instructor: Bharath B N 

Title : Insurance risk prediction 

Group No: 17

Group Members : Girish K Gupta, Arvind Raj S, Sivarama Krishna

Member contribution : All members have equally contributed in this work.

Accessing the given data set

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
data=[];
with open("/content/drive/MyDrive/MDS_Project2/data_set.data","r") as data_file:
    for line in data_file:
        fields=line.split('\n');
        del fields[-1]
        data.append(fields[0].split(','));

In [3]:
# Creating data frame for the given dataset
import pandas as pd
data_=pd.DataFrame(data,columns=['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style','drive-wheels',
                                 'engine-location','wheel-base','length','width','height','curb-weight','engine-type','num-of-cylinders',
                                'engine-size','fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price'])

In [4]:
data_.head()

  symboling normalized-losses         make  ... city-mpg highway-mpg  price
0         3                 ?  alfa-romero  ...       21          27  13495
1         3                 ?  alfa-romero  ...       21          27  16500
2         1                 ?  alfa-romero  ...       19          26  16500
3         2               164         audi  ...       24          30  13950
4         2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

Converting categorical/text data into numeric values

In [5]:
list_dummy=['make','fuel-type','aspiration','num-of-cylinders','num-of-doors','body-style','drive-wheels','engine-location','engine-type','fuel-system']
for j in list_dummy:
  l=data_[j].unique()
  c=0;dictionary={};
  for i in l:
    dictionary[i]=c;
    c+=1;
  for i in range(len(data_[j])):
    data_[j][i]=dictionary[data_[j][i]];

In [6]:
data_.head(10)

  symboling normalized-losses make  ... city-mpg highway-mpg  price
0         3                 ?    0  ...       21          27  13495
1         3                 ?    0  ...       21          27  16500
2         1                 ?    0  ...       19          26  16500
3         2               164    1  ...       24          30  13950
4         2               164    1  ...       18          22  17450
5         2                 ?    1  ...       19          25  15250
6         1               158    1  ...       19          25  17710
7         1                 ?    1  ...       19          25  18920
8         1               158    1  ...       17          20  23875
9         0                 ?    1  ...       16          22      ?

[10 rows x 26 columns]

Separating our target/label (i.e. symboling column)

In [7]:
data_=data_.replace('?',0)
y=data_['symboling'].astype(float)
data_=data_.drop('symboling',axis=1)
data_.columns

Index(['normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length',
       'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

Replacing NaN values with 0.
Note: We can also try to replace these NaN with the mean values

In [8]:
import numpy as np
data=data_.replace('?',0)
X=data.astype(np.float)

Normalizing - Standardize features by removing the mean and scaling to unit variance.

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(data)

Calling the model, here we call logistic regression

In [10]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(solver='liblinear',class_weight="balanced");

Splitting the data into train and test sets.

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y)
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

Predicting symboling for test sample and finding the accuracy comparing with training data

In [12]:
y_hat=classifier.predict(X_test)
c=0;
for idx,i in enumerate(y_test):
    if(y_hat[idx]==i):
        c+=1;
print("Accuracy:",c/len(y_test))

Accuracy: 0.47058823529411764

Repeating the same with L1 regulariser

In [13]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(solver='liblinear',class_weight="balanced",penalty="l1");

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y)
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l1',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [15]:
y_hat=classifier.predict(X_test)
c=0;
for idx,i in enumerate(y_test):
    if(y_hat[idx]==i):
        c+=1;
print("Accuracy:",c/len(y_test))

Accuracy: 0.6274509803921569

Testing using given test data point.

In [16]:
test=pd.read_csv('/content/drive/MyDrive/MDS_Project2/data_point.txt',header=None)

In [17]:
test.columns=['normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style','drive-wheels',
                                 'engine-location','wheel-base','length','width','height','curb-weight','engine-type','num-of-cylinders',
                                'engine-size','fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

In [18]:
test

   normalized-losses   make fuel-type  ... city-mpg highway-mpg price
0                101  honda       gas  ...       30          34  7129

[1 rows x 25 columns]

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
data=[];
with open("/content/drive/MyDrive/MDS_Project2/data_set.data","r") as data_file:
    for line in data_file:
        fields=line.split('\n');
        del fields[-1]
        data.append(fields[0].split(','));

In [21]:
import pandas as pd
data_=pd.DataFrame(data,columns=['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style','drive-wheels',
                                 'engine-location','wheel-base','length','width','height','curb-weight','engine-type','num-of-cylinders',
                                'engine-size','fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price'])

Merging given data to existing data file

In [22]:
data1=pd.concat([data_,test])

In [23]:
data1

    symboling normalized-losses         make  ... city-mpg highway-mpg  price
0           3                 ?  alfa-romero  ...       21          27  13495
1           3                 ?  alfa-romero  ...       21          27  16500
2           1                 ?  alfa-romero  ...       19          26  16500
3           2               164         audi  ...       24          30  13950
4           2               164         audi  ...       18          22  17450
..        ...               ...          ...  ...      ...         ...    ...
200        -1                95        volvo  ...       19          25  19045
201        -1                95        volvo  ...       18          23  21485
202        -1                95        volvo  ...       26          27  22470
203        -1                95        volvo  ...       19          25  22625
0         NaN               101        honda  ...       30          34   7129

[205 rows x 26 columns]

In [24]:
list_dummy=['make','fuel-type','aspiration','num-of-cylinders','num-of-doors','body-style','drive-wheels','engine-location','engine-type','fuel-system']
for j in list_dummy:
  l=data_[j].unique()
  c=0;dictionary={};
  for i in l:
    dictionary[i]=c;
    c+=1;
  for i in range(len(data_[j])):
    data_[j][i]=dictionary[data_[j][i]];

In [25]:
data_.head()

  symboling normalized-losses make  ... city-mpg highway-mpg  price
0         3                 ?    0  ...       21          27  13495
1         3                 ?    0  ...       21          27  16500
2         1                 ?    0  ...       19          26  16500
3         2               164    1  ...       24          30  13950
4         2               164    1  ...       18          22  17450

[5 rows x 26 columns]

In [26]:
data_.head(10)

  symboling normalized-losses make  ... city-mpg highway-mpg  price
0         3                 ?    0  ...       21          27  13495
1         3                 ?    0  ...       21          27  16500
2         1                 ?    0  ...       19          26  16500
3         2               164    1  ...       24          30  13950
4         2               164    1  ...       18          22  17450
5         2                 ?    1  ...       19          25  15250
6         1               158    1  ...       19          25  17710
7         1                 ?    1  ...       19          25  18920
8         1               158    1  ...       17          20  23875
9         0                 ?    1  ...       16          22      ?

[10 rows x 26 columns]

In [27]:
data_=data_.replace('?',0)
y=data_['symboling'].astype(float)
data_=data_.drop('symboling',axis=1)
data_.columns

Index(['normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length',
       'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [28]:
import numpy as np
data=data_.replace('?',0)
X=data.astype(np.float)

In [29]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(data)

In [30]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(solver='liblinear',class_weight="balanced");

In [31]:
X[0:-1,:].shape

(203, 25)

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X[0:-1,:],y[0:-1])
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
y_hat=classifier.predict(X_test)
c=0;
for idx,i in enumerate(y_test):
    if(y_hat[idx]==i):
        c+=1;
print("Accuracy:",c/len(y_test))

Accuracy: 0.5294117647058824

In [34]:
X[-1,:].shape

(25,)

In [35]:
totest=np.expand_dims(X[-1,:],axis=-1).T

y_test=classifier.predict(totest)
print(y_test)

[-2.]

In [36]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(solver='liblinear',class_weight="balanced",penalty="l1");

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X[0:-1,:],y[0:-1])
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l1',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
y_hat=classifier.predict(X_test)
c=0;
for idx,i in enumerate(y_test):
    if(y_hat[idx]==i):
        c+=1;
print("Accuracy:",c/len(y_test))

Accuracy: 0.5294117647058824

In [39]:
totest=np.expand_dims(X[-1,:],axis=-1).T

y_test=classifier.predict(totest)
print(y_test)

[-2.]